go 1.21.5

use (
	./Go/02-Bases/Clase-03/code/ejercicio-2
	./Go/02-Bases/Clase-03/code/ejercicio-3
	./Go/02-Bases/Clase-03/code/ejercicio-5
	./Go/02-Bases/Clase-03/notes/content
	./Go/02-Bases/Clase-04/code/ejercicio-1
	./Go/02-Bases/Clase-04/code/ejercicio-2
	./Go/02-Bases/Clase-04/notes/structs
	./Go/02-Bases/Clase-05/code/ejercicio-1
	./Go/02-Bases/Clase-05/code/ejercicio-2
	./Go/02-Bases/Clase-05/code/ejercicio-6
	./Go/02-Bases/Clase-05/notes/errors
	./Go/02-Bases/Clase-05/notes/interfaces
	./Go/02-Bases/Clase-06/code/ejercicio-3
	./Go/02-Bases/DesafioCierre/desafio-go-bases
	./Go/03-Web/Clase-02-POST/notes/post
	./Go/03-Web/Clase-03-PUT-PATCH-DELETE/notes/patch_put_delete
	./Go/03-Web/Desafio-Cierre/desafio_cierre
	./Implementacion_SQL_GO/code/ejercicio1
	./Implementacion_SQL_GO/code/ejercicio2/storage-api-exercise
	./Implementacion_SQL_GO/notes/packageSQL
	./Testing/code/ejercicio1
	./Testing/code/ejercicio2/testing-exercise
	./Testing/code/ejercicio3
	./Testing/code/ejercicio4
)
